version: "3.0" # Nên nâng version lên xíu

services:
  milvus-etcd:
    image: quay.io/coreos/etcd:v3.5.5
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    command: etcd -advertise-client-urls=http://0.0.0.0:2379 -listen-client-urls=http://0.0.0.0:2379 --data-dir=/etcd
    volumes:
      - milvus_etcd:/etcd
    ports:
      - "2379:2379"

  milvus-minio:
    image: minio/minio:RELEASE.2023-03-20T20-16-18Z
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    # --- SỬA DÒNG NÀY: Thêm tham số --console-address ---
    command: minio server /minio_data --console-address ":9001"
    volumes:
      - milvus_minio:/minio_data
    ports:
      - "9000:9000" # API Port (Cho code Python dùng)
      - "9001:9001" # Console Port (Cho bạn vào web xem file)

  milvus-standalone:
    image: milvusdb/milvus:v2.4.4
    command: ["milvus", "run", "standalone"]
    environment:
      ETCD_ENDPOINTS: milvus-etcd:2379
      MINIO_ADDRESS: milvus-minio:9000
    volumes:
      - milvus_data:/var/lib/milvus
    ports:
      - "19530:19530"
      - "9091:9091"
    depends_on:
      - milvus-etcd
      - milvus-minio

volumes:
  milvus_etcd:
  milvus_minio:
  milvus_data: